{% extends 'base.html.twig' %}

{% block title %}DepenseProjet{% endblock %}

{% block body %}
    <h1>DepenseProjet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depense_projet.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ depense_projet.montant }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ depense_projet.description }}</td>
            </tr>
            <tr>
                <th>Date_depense</th>
                <td>{{ depense_projet.dateDepense ? depense_projet.dateDepense|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_depense_projet_index') }}">back to list</a>

    <a href="{{ path('app_depense_projet_edit', {'id': depense_projet.id}) }}">edit</a>

    {{ include('depense_projet/_delete_form.html.twig') }}
{% endblock %}
