

{% block title %}ZoneDeCollecte{% endblock %}

{% block body %}
    <h1>ZoneDeCollecte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zone_de_collecte.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ zone_de_collecte.nom }}</td>
            </tr>
            <tr>
                <th>Population</th>
                <td>{{ zone_de_collecte.population }}</td>
            </tr>
            <tr>
                <th>Temps_de_collecte</th>
                <td>{{ zone_de_collecte.tempsDeCollecte ? zone_de_collecte.tempsDeCollecte|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_zone_de_collecte_crud_index') }}">back to list</a>

    <a href="{{ path('app_zone_de_collecte_crud_edit', {'id': zone_de_collecte.id}) }}">edit</a>

    {{ include('zone_de_collecte_crud/_delete_form.html.twig') }}
{% endblock %}
